{% extends 'base.html.twig' %}

{% block title %}Hello AnalyticsController!{% endblock %}

{% block body %}
<style>
   .card {
      border: 2px solid black !important;
      color: black;
   }

   .card:hover {
      color: green;
      border-color: green !important;
   }

   a {
      text-decoration: none !important;
   }
</style>

<script>
{% if data | length > 0 %}
window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2",
	animationEnabled: true,
	title: {
		text: ''

	},
	data: [{
		type: "pie",
		indexLabel: "{y}",
		yValueFormatString: "#,##0.00\"%\"",
		indexLabelPlacement: "inside",
		indexLabelFontColor: "#36454F",
		indexLabelFontSize: 18,
		indexLabelFontWeight: "bolder",
		showInLegend: true,
		legendText: "{label}",
		dataPoints: {{ dataPoints|json_encode()|raw }}
	}]
});
chart.render();
 
}
{% endif %}
</script>


<div class="container d-flex flex-column mt-2">
   <div class="info text-center">
        <h1>{{ type == 1 ? 'Income' : 'Expensis' }}</h1>
        <form method="POST" class="mb-0">
            <select name="date_type" class="form-select form-select-lg mb-3 p-1">
                <option selected>Choose the date</option>
                <option value="" disabled>----------</option>
                {% for type in date_types %}
                    <option {{ current_date_type == type ? 'selected' : '' }} value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-secondary p-1">Go to</button>
        </form>

        {% if data | length > 0 %}
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        {% endif %}
   </div>
   <p>Total: {{ total }} rub</p>

   <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            {% if data | length > 0 %}
                {% for row in data %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ row.name }}</td>
                        <td>{{ row.value }} rub</td>
                    </tr>
               {% endfor %}
            {% else %}
              {% if app.session.get('active_account_id') %}
                    <td colspan="5" class="text-center"><h2>There were no operations yet!</h2></td>
                {% else %}
                    <td colspan="5" class="text-center"><h2>Add an account first!</h2></td>
               {% endif %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
